.App {
  min-height: 100vh;
  padding: 0 20px;
  text-align: left;

  background-image: url("dark-mountains.jpeg");
  background-size: cover;
  
  //main/Hero style sheet
  .Main {
  
  }

  //login style sheet
.Login {
    text-align: center;

    padding-top: 4%;


    .group 			  { 
      position:relative; 
      margin-bottom:45px; 
      margin-left: 20%;
    }
    input 				{
      font-size:18px;
      padding:10px 10px 10px 5px;
      display:block;
      width:300px;
      border:none;
      border-bottom:1px solid #757575;
      background-color: inherit;
    }
    input:focus 		{ outline:none; }
    
    /* LABEL ======================================= */
    label 				 {
      color:rgb(247, 246, 246); 
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:10px;
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }
    
    /* active state */
    input:focus ~ label, input:valid ~ label 		{
      top:-20px;
      font-size:14px;
      color:#bdbdbd;
    }
    
    /* BOTTOM BARS ================================= */
    .bar 	{ position:relative; display:block; width:300px; }
    .bar:before, .bar:after 	{
      content:'';
      height:2px; 
      width:0;
      bottom:1px; 
      position:absolute;
      background:#c9c9c9; 
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }
    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%; 
    }
    
    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }
    
    /* HIGHLIGHTER ================================== */
    .highlight {
      position:absolute;
      height:60%; 
      width:100px; 
      top:25%; 
      left:0;
      pointer-events:none;
      opacity:0.5;
    }
    
    /* active state */
    input:focus ~ .highlight {
      -webkit-animation:inputHighlighter 0.3s ease;
      -moz-animation:inputHighlighter 0.3s ease;
      animation:inputHighlighter 0.3s ease;
    }
    
    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
      from { background:#fcfcfc38; }
      to 	{ width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
      from { background:#c9d4ff; }
      to 	{ width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
      from { background:#f7f7f75b; }
      to 	{ width:0; background:transparent; }
    }


    .loginContainer{
     
      padding-top: 1%;
      width: 35%;
      min-height: 72vh;
      
     //glass effect stuff
      margin-left: 32%;
      background: rgba(200, 200, 200, 0.25);
      box-shadow: 0 8px 32px 0 rgba(231, 231, 233, 0.071);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 10px;
      border: 1px solid rgba(210, 196, 196, 0.18);

     

      //Jernel app logo image
      .appLogo{
        padding-top: 0%;
        max-width:50%;
        padding-bottom: 4%;
      }

      .signInSpan{
        margin-left: 1%;
        color: rgb(220, 215, 215);

        &:hover{
          color: rgb(255, 255, 255);
          cursor: pointer;
        }
      }



      /*input{
        background: rgba(232, 225, 225, 0.728);
        color: white;
        padding-top:1%;
       
        
      }*/

      button{
        
      }

    }

  }

  
  
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
